.form-control--select {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 10px 0px 4px 0px;
  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
  &__label {
    position: absolute;
    font-weight: bold;
    color: darken($text-color, 50%);
    top: 0;
    left: 0.75rem;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 0.25rem;
    z-index: 1;

    &.small {
      font-size: 0.575rem;
    }

    &.middle {
      font-size: 0.675rem;
    }

    &.large {
      font-size: 0.875rem;
    }
  }
  &__title {
    flex: 1 0 auto;
    padding: 0.875rem;
    border-radius: 0.5rem;
    // border: 1px solid $text-color;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: $primary-color;
    }
    &:focus {
      outline: 0;
      border-color: $primary-color;
    }

    &.small {
      font-size: 0.675rem;
      // padding: 0.575rem;
      & .ant-select-selector {
        height: 32px !important;

        & input {
          height: 32px !important;
        }
        & > .ant-select-selection-item {
          line-height: 32px !important;
        }
      }
    }

    &.middle {
      font-size: 0.775rem;
      // padding: 0.675rem;
      & .ant-select-selector {
        height: 42px !important;

        & input {
          height: 42px !important;
        }
        & > .ant-select-selection-item {
          line-height: 42px !important;
        }
      }
    }

    &.large {
      font-size: 0.875rem;
      // padding: 0.775rem;
      & .ant-select-selector {
        height: 52px !important;

        & input {
          height: 52px !important;
        }
        & > .ant-select-selection-item {
          line-height: 52px !important;
        }
      }
    }
  }
}
