.skill-tag {
  padding: 4px 8px !important;
  margin-right: 0px !important;
}

.sort-skill-container {
  // background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 0px;
  white-space: nowrap;
  padding: 8px;
  margin-bottom: 12px;
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &--item {
    float: left;
    width: auto;
    margin: 4px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    &:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: -o-grabbing;
      cursor: -ms-grabbing;
      cursor: grabbing;
    }
  }
}
