.resume {
  margin: auto;
  padding: 3em 1.8em 1.8em;
  // background-color: #ffff;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;

  &--section {
    display: flex;
    margin-bottom: 1.3em;
    flex: 1 1 0%;

    &--left {
      padding: 0;
      display: flex;
      flex-direction: column;
      flex: 0.2 1 0%;
      padding-right: 1em;
      padding-top: 1em;
      font-weight: bold;
    }

    &--right {
      display: flex;
      flex-direction: column;
      flex: 0.8 1 0%;

      & ul > li {
        list-style: square;
      }

      &--title {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 1.4em;

        &:nth-of-type(1) {
          margin-top: 0px;
        }
      }

      &--sub-title {
        font-size: 14px;
        margin-bottom: 4px;
      }

      hr {
        width: 100%;
      }
    }
  }
}

.list-of-sub-section {
  &--ul {
    &--li {
      & .drag-icon {
        cursor: grab;
        font-size: 32px;
        position: relative;
        right: 8px;
        top: 40px;
        z-index: 1;
        opacity: 0.6;
        &:active {
          cursor: grabbing;
        }
      }
    }
  }
}
