#layout {
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  .site-layout {
    transition: margin-left 0.2s;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

  .ant-layout-sider-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
